#container{
    background-color: white;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vh 10vh 1fr;
    gap: 0px;
    margin: 0;
    grid-template-areas: 
    'hd hd hd'
    'na na na'
    'mn mn mn';
}

::marker {
    height:100px;
    color:green;
}

#hd{
    grid-area: hd;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    color: green;
    background-image: url('../img/top.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -630px;
}

#hd img{
    width: 25vh;
}

#na{
    grid-area: na;
    background-color: whitesmoke;
    color: green;
    
    font-size: x-large;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}


#mn{
    grid-area: mn;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url('../img/IMG-20260226-WA0017.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

details{
    margin-top: 50px;
}

details > summary {
  padding: 10px;
  width: 500px;
  background-color: #eeeeee;
  border: 2px;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details > p {
  background-color: #eeeeee;
  width: 500px;
  padding: 10px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}

.text{
    font-size:medium;
}