#container{
    background-color: white;
    display: grid;
    height: 140vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25vh 10vh 16vh 40vh 44vh 5vh;
    gap: 0px;
    margin: 0;
    grid-template-areas: 
    'hd hd'
    'na na'
    'mn mn'
    'mt mt'
    'mt mt'
    'dv3 ft';
    font-family: main;
}

@font-face{
    font-family: main;
    src: url(/fonts/FledoraDirtyn.otf);
}

#mitten {
    grid-area: mt;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 10px;
}

#hd{
    grid-area: hd;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    color: green;
    background-image: url('../img/top.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -630px;
}

#hd img{
    width: 25vh;
}

#na{
    grid-area: na;
    background-color: whitesmoke;
    color: green;
    
    font-size: x-large;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}


#mn{
    grid-area: mn;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 5vh;
    color: green;
    align-content: center;
}

#as{
    background-color: white;
    padding-left: 50px;
    text-align: center;
}

#dv1{
    background-color: white;
    
}

.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-track{
    display: flex;
    width: calc(100% * 8);
    animation: scroll 20s linear infinite;
}

.slide{
    width: calc(100%/8);
    height: 100%;
    flex-shrink: 0;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center -200px;
}

@keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translateX(calc(-50%));}
}

#dv2{
    background-color: white;
}

iframe{
    width: 100%;
    height: 100%;
}

#sc{
    background-color: white;
    padding-left: 50px;
    text-align: center;
}

p{
    font-size: 5vh;
}

#dv3{
    grid-area: dv3;
    background-color: whitesmoke;
    border: 10px;
    font-size: 3vh;
    padding-left: 50px;
}

#ft{
    grid-area: ft;
    background-color: white;
    font-size: 3vh;
    padding-left: 50px;
}